/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

.category{
	margin-top: 10px;
	margin-bottom: 10px;
}


.category-boxes{
	margin:0px 30px 0px 30px ;
	position:relative;
	display:block;
}



.blur{
	height:100px;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(4px); /* Chrome, Opera */
    -moz-filter: blur(4px);
	-ms-filter: blur(4px);   
	filter: blur(4px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.title{
	position:absolute;
	bottom:17px;
	left:30px;
	padding: 10px 10px 10px 10px ;
	font-family: SimHei  ;
	font-size:36px;
	color:#fff;
}

.storyofmain{
	height:150px;
	margin:10px 10px 0px 0px;
	font-family:SimHei;
}

.storyclass{
	margin:0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	text-align:center;
	color:#fff;
	height:100%;
}

.storyclass a:link {color: #ffffff}/* 未访问的链接 */
.storyclass a:hover {color: #d9d9d9} /* 鼠标移动到链接上 */
 /* .storyclass a:active {color: #0000FF}选定的链接 */

.storybegin{
	display:table;
	height:100%;
	border:1px solid #ededed;
	text-overflow: ellipsis;
	padding: 10px 15px 10px 15px;
}
.storybegin a:link {color: #000000}/* 未访问的链接 */
.storybegin a:hover {color: #434343} /* 鼠标移动到链接上 */

.storycenter{	
	display:table-cell; vertical-align:middle;
}

