/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

textarea{
	resize:none;
}

a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
a:active {
text-decoration: none;
}

.category{
	margin-top: 10px;
	margin-bottom: 10px;
}


.category-boxes{
	margin:0px 30px 0px 30px ;
	position:relative;
	display:block;
}



.blur{
	height:100px;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(4px); /* Chrome, Opera */
    -moz-filter: blur(4px);
	-ms-filter: blur(4px);   
	filter: blur(4px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.title{
	position:absolute;
	bottom:17px;
	left:30px;
	padding: 10px 10px 10px 10px ;
	font-family: SimHei  ;
	font-size:36px;
	color:#fff;
}

.storyofmain{
	height:150px;
	margin:10px 10px 0px 0px;
	font-family:SimHei;
	overflow:hidden;
}

.storyclass{
	margin:0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
	text-align:center;
	color:#fff;
	height:100%;
}

.storyclass a:link {color: #ffffff}/* 鏈闂殑閾炬帴 */
.storyclass a:hover {color: #d9d9d9} /* 榧犳爣绉诲姩鍒伴摼鎺ヤ笂 */
 /* .storyclass a:active {color: #0000FF}閫夊畾鐨勯摼鎺�*/

.storybegin{
	display:table;
	height:100%;
	text-overflow: ellipsis;
	padding: 10px 15px 10px 15px; margin-bottom:-9999px锛沺adding-bottom:9999px;
}
.storybegin a:link {color: #000000}/* 鏈闂殑閾炬帴 */
.storybegin a:hover {color: #434343} /* 榧犳爣绉诲姩鍒伴摼鎺ヤ笂 */

.storycenter{	
	display:table-cell; vertical-align:middle; margin-bottom:-9999px锛沺adding-bottom:9999px;
}

.everychpt{
	margin: 10px 15px 10px 15px;
	font-family:SimHei;
	font-size:14px;
}

.chptbox{
	margin-bottom:15px;
	margin-top:15px;
	padding:10px 10px 0px 10px;
	background:#ffffff;
	border-radius:5px;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari鎴朿hrome*/
	box-shadow:2px 2px 10px #909090;/*opera鎴杋e9*/
}


.user{
	margin-left:20px;
	padding-top:5px;
	float:left;
	width:auto;
	color:#666666;
	font-size:12px;
}
.user a:link {color: #666666}/* 鏈闂殑閾炬帴 */
.user a:hover {color: #434343} /* 榧犳爣绉诲姩鍒伴摼鎺ヤ笂 */

.functs{
	float:right;
	width:auto;
	display:inline;
	padding-bottom:5px;
}


.chptbtn{
	color:#ff0033;
}

.chptbox .chptlabel{
	border-radius:10px;
}

/************************usercenter.html**********************************/
.check{
	margin-right:20px; font-size:12px;
}

.root_1l{
	cursor:pointer;width:100px; height:50px;margin-bottom:10px;text-align:center; background-color:#fff;filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=90,strength=3);/*ie*/
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari鎴朿hrome*/
	box-shadow:2px 2px 10px #909090;/*opera鎴杋e9*/;border-radius:3px; display:table;font-family:SimHei;
}
.root_1lc{
	background-color:#eeeeee;
}


.root_2l{
	cursor:pointer;width:100px; height:50px;margin-bottom:10px;text-align:center; background-color:#fff;border-radius:3px; display:table;font-family:SimHei;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=0,strength=3);/*ie*/
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari鎴朿hrome*/
	box-shadow:2px 2px 10px #909090;/*opera鎴杋e9*/;
}
.root_2lc{
	background-color:#eeeeee;
}