<?xml version="1.0" encoding="UTF-8"?>      
<beans xmlns="http://www.springframework.org/schema/beans"      
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
    xmlns:p="http://www.springframework.org/schema/p"    
    xmlns:aop="http://www.springframework.org/schema/aop"     
    xmlns:context="http://www.springframework.org/schema/context"    
    xmlns:jee="http://www.springframework.org/schema/jee"    
    xmlns:tx="http://www.springframework.org/schema/tx"    
    xsi:schemaLocation="      
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd    
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd    
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd    
       http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"> 

	<!-- 定义数据源的信息 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:mysql://localhost:3306/opos?useUnicode=true&amp;characterEncoding=utf-8</value>
		</property>
		<property name="user">
			<value>root</value>
		</property>
		<property name="password">
			<value>root</value>
		</property>
		<property name="maxPoolSize">
			<value>80</value>
		</property>
		<property name="minPoolSize">
			<value>1</value>
		</property>
		<property name="initialPoolSize">
			<value>1</value>
		</property>
		<property name="maxIdleTime">
			<value>20</value>
		</property>
	</bean>

	<!--定义Hibernate的SessionFactory -->
	<!-- SessionFactory使用的数据源为上面的数据源 -->
	<!-- 指定了Hibernate的映射文件和配置信息 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>com/yryj/model/Chapter.hbm.xml</value>
				<value>com/yryj/model/Draft.hbm.xml</value>
				<value>com/yryj/model/Order.hbm.xml</value>
				<value>com/yryj/model/Story.hbm.xml</value>
				<value>com/yryj/model/Type.hbm.xml</value>
				<value>com/yryj/model/User.hbm.xml</value>
				<value>com/yryj/model/Uts.hbm.xml</value>
				<value>com/yryj/model/Utc.hbm.xml</value>
				<value>com/yryj/model/Utu.hbm.xml</value>

			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="show_sql">true</prop>
				<prop key="hibernate.jdbc.batch_size">20</prop>
				<prop key="connection.autoReconnect">true</prop>
       			<prop key="connection.autoReconnectForPools">true</prop>
     		    <prop key="connection.is-connection-validation-required">true</prop>
     		    <prop key="connection.autocommit">true</prop>
				<prop key="hibernate.connection.username">root</prop>  
				<prop key="hibernate.connection.password">123456</prop>  
				<prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/opos</prop>  
				
			</props>
		</property>
		
		
	</bean>


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
		<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="*" propagation="NOT_SUPPORTED" read-only="true" />
		</tx:attributes>
	</tx:advice>
		
    <!--用户注册Dao层逻辑类 -->
	<bean id="chapterDao" class="com.yryj.daoImpl.ChapterDL">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	<bean id="draftDao" class="com.yryj.daoImpl.DraftDL">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	<bean id="orderDao" class="com.yryj.daoImpl.OrderDL">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	<bean id="storyDao" class="com.yryj.daoImpl.StoryDL">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	<bean id="typeDao" class="com.yryj.daoImpl.TypeDL">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	<bean id="userDao" class="com.yryj.daoImpl.UserDL">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	<bean id="utcDao" class="com.yryj.daoImpl.UtcDL">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	<bean id="utsDao" class="com.yryj.daoImpl.UtsDL">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	<bean id="utuDao" class="com.yryj.daoImpl.UtuDL">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	
	<!--用户注册业务逻辑类 -->
	<bean id="chapterManager" class="com.yryj.serviceImpl.ChapterML">
		<property name="chapterDao">
			<ref bean="chapterDao" />
		</property>
	</bean>
	<bean id="draftManager" class="com.yryj.serviceImpl.DraftML">
		<property name="draftDao">
			<ref bean="draftDao" />
		</property>
	</bean>
	<bean id="orderManager" class="com.yryj.serviceImpl.OrderML">
		<property name="orderDao">
			<ref bean="orderDao" />
		</property>
	</bean>
	<bean id="storyManager" class="com.yryj.serviceImpl.StoryML">
		<property name="storyDao">
			<ref bean="storyDao" />
		</property>
	</bean>
	<bean id="typeManager" class="com.yryj.serviceImpl.TypeML">
		<property name="typeDao">
			<ref bean="typeDao" />
		</property>
	</bean>
	<bean id="userManager" class="com.yryj.serviceImpl.UserML">
		<property name="userDao">
			<ref bean="userDao" />
		</property>
	</bean>
	<bean id="utcManager" class="com.yryj.serviceImpl.UtcML">
		<property name="utcDao">
			<ref bean="utcDao" />
		</property>
	</bean>
	<bean id="utsManager" class="com.yryj.serviceImpl.UtsML">
		<property name="utsDao">
			<ref bean="utsDao" />
		</property>
	</bean>
	<bean id="utuManager" class="com.yryj.serviceImpl.UtuML">
		<property name="utuDao">
			<ref bean="utuDao" />
		</property>
	</bean>

	<!-- 用户注册的Action -->
	<bean id="userAction" class="com.yryj.action.UserAction">
		<property name="userManager">
			<ref bean="userManager" />
		</property>
	</bean>
	<bean id="chapterAction" class="com.yryj.action.ChapterAction">
		<property name="chapterManager">
			<ref bean="chapterManager" />
		</property>
		<property name="storyManager">
			<ref bean="storyManager" />
		</property>
			<property name="typeManager">
			<ref bean="typeManager" />
		</property>
	</bean>
	<bean id="typeAction" class="com.yryj.action.TypeAction">
		<property name="typeManager">
			<ref bean="typeManager" />
		</property>
	</bean>
	<bean id="jsonAction" class="com.yryj.action.JsonAction">
		<property name="storyManager">
			<ref bean="storyManager" />
		</property>
		<property name="chapterManager">
			<ref bean="chapterManager" />
		</property>
	</bean>
</beans>